body {
    font-family: Arial, sans-serif;
    background-color: rgb(63, 186, 200);
}

.login {
    width: 300px;
    margin: 0 auto; /* Centraliza horizontalmente */
    text-align: center; /* Alinha o texto ao centro */
}

.login form div {
    margin-bottom: 15px; /* Espaçamento entre os elementos */
}

.login form input[type="text"],
.login form input[type="password"],
.login form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login form input[type="submit"] {
    background-color: #230796;
    color: #fff;
    cursor: pointer;
}

.login form input[type="submit"]:hover{
    background-color: #0a0a09;
    transition: 0.3s all   
}

.login div a {
    display: block; /* Para que os links ocupem toda a largura */
    margin-bottom: 10px; /* Espaçamento entre os links */
    text-decoration: none;
    color: #f2ff00;
    font-family: cursive;
    font-size: 18px;
}