body {
    margin-top: 25%;
    margin-bottom: 25%;
    font-family: Arial, sans-serif;
    background-color: rgb(63, 186, 200);
}

.imagemhome{
    display: flex;
    justify-content: center;
    gap:50px;
}

.buttoninciar{
    margin: 2%;
    display: flex;
    justify-content: center;
    gap:50px;
}

a{
    text-decoration: none;
}

button {
    width: 200px;
    font-size: 20px;
    color:azure;
    background-color: #1507d8;
    cursor: pointer;
}

button:hover{
    background-color: #0a0a09;
    transition: 0.3s all    
}