body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(63, 186, 200);
}

a{
    display: flex;
    text-decoration: none;
}

.login{
    display: flex;
    justify-content: center;
}

button {
    width: 200px;
    font-size: 20px;
    color:azure;
    background-color: #1507d8;
    cursor: pointer;
}

button:hover{
    background-color: #0a0a09;
    transition: 0.3s all    
}