body {
    font-family: Arial, sans-serif;
    background-color: rgb(63, 186, 200);
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.infos {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.titulo {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

p{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 50%;
    margin-left: 50%;
    text-align: center;
    width: 100%;
}

h1{
    font-size: 40px;
    font-family: cursive;
    margin: 0px auto;
}

h2{
    font-size: 30px;
    font-family: cursive;
    margin: 0px auto;
}

select{
    width: 100%;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="text"] {
    width: 40px;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.titulo [type="text"],
.historia [type="text"]{
    width: 50%;
    height: auto;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.direita input [type="number"]{
    width: 60px;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

button {
    width: 40px;
    font-size: 20px;
    margin: 0px auto;
    color:azure;
    background-color: #1507d8;
    cursor: pointer;
}

button:hover {
    background-color: #f4f41f;
    transition: 0.3s all;    
}

button:hover{
    background-color: #0a0a09;
    transition: 0.3s all    
}

.direita button{
    background-color: #07d831;
}

.direita button:hover{
    background-color: #f90707;
}

label{
display: inline-block;
width: 250px;
font-size: 20px;
}

.titulo label{
    width: 100%;
    font-size: 25px;
}

.direita label{
    width: 100%;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    color: #f2ff00;
    font-family: cursive;
    font-size: 18px;
}