body {
    margin: 10px;
    padding: 5px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(198, 136, 70);
}

.imagemhome{
    display: flex;
    gap:50px;
}

.buttoniniciar{
    display: flex;
    align-items: center;
    gap: 1000px;
}

button{
    width: 200px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:azure;
    background-color: #DC2F02
}

a{
    text-decoration: none;
}

label{
    font-size: 20px;
    text-align: center;

}
input {
    padding: 5px;
    margin: 5px;
    text-align: center;
}

button {
    cursor: pointer;
}

button:hover{
    background-color: #0a0a09;
    transition: 0.3s all    
}